<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <title>Sadia's Motion Detector</title>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body> onload="createTables()">
    <center>
        <div id="table"></div>
        <div id="curve_chart" style="width: 1200px; height: 1200px"></div>
    </center> 
    
    <script type='text/javascript'>
        //load google chart libraries
        google.charts.load('current', {packages: ['corechart']});
        
        //create empty array as a global
        var charData = [];
        var count = 0;

        //create function that will be called when the page is loaded    
        function createTables(){
            goTime = new Date();
            getData();
            setInterval(()=>{
                $.getJSON('/count', function(chartJSON) {
                    xTime = new Date();
                    console.log(count);
                    console.log(chartJSON);
                    if(count < chartJSON['data']) getData();
                })
            }, 5000)
        }

        //get data from @app.route("/sqlData") and push into array
        function getData(){
            //clear array(or else it will keep adding to the previous data already in the array)
            chartData = [];
            $.getJSON('sqlData', function(chartJSON){
                for(i=0;i<charJSON.length; i++){
                    chartData.push([new Data(chartJSON[i].Time), chartJSON[i].Place, chartJSON[i].Count]);
                };
                drawChart();
            });
        }

        //function to draw chart
        function drawChart(){
            //create table

            var gdata = new google.visualization.columnchart();
            gdata.addColumn('time', 'Time');
            gdata.addColumn('place', 'Place');
            gdata.addColumn('count', 'Count');
            gdata.addRows(chartData);

            var options ={
                title: 'Motion detection',
                curveType: 'function',
                legend: { position: 'bottom'}
            };
            var char = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(gdata, options);
            chartTime = new Data();

        }

    </script>

</body>

</html>
